@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #elmish-app {
        height: 100%;
    }

    body {
        margin: 0;
        background-color: var(--color-base-200);
        color: var(--color-base-content);
    }
}
